@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./fonts/interFont/');

ActionBar {
    background-color: #65adf1;
    color: white;
}

.Inter {
    font-family: 'Inter', 'Inter Medium' ,'Inter Black';
}

  .fa {
    font-family: FontAwesome, fontawesome-webfont;
  }